<br>
<button class="waves-effect waves-light btn col s3" (click)="changeStatusAntrean(statusAntrean)">
  Status : {{ statusAntrean ? "ON" : "OFF" }}
</button>

<div *ngFor="let option of (optionAntrean | async).optionAntrean; let i = index">
  {option.status}
</div>

<table>
    <thead>
      <tr>
        <th>No. Antrean</th>
        <th>Name</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let antrean of dataAntrean">
        <td>
          {{ antrean.payload.doc.data().no_antrean }}
        </td>
        <td>{{ antrean.payload.doc.data().nama }}</td>
        <td
          [hidden]="antrean.payload.doc.data().completed"
          (click)="deleteAntrean(antrean)"
        >
          <i class="material-icons link">delete_forever</i>
        </td>
      </tr>
    </tbody>
</table>

<ul>
    <li></li>
</ul>